/* Brand Colors ------------------------------------------------*/
$BacgroundColor: #3cb5f2;
$gradientBack: radial-gradient(circle at 30.1% 15.53%, #92e3ff 0, #3cb5f2 75%, #0089d1 100%);
$gradientBackMobile: linear-gradient(90deg, rgba(146,227,255,1) 38%, rgba(60,181,242,1) 100%);
$starColor:  rgb(5, 98, 151);