.content {
    @include box;
    padding:0 20px 20px 20px ;
    display: flex;
    flex-direction: column;
    .about-me {
        margin-bottom: 40px;
    }
    .experience-work {
        flex: 1 0;
        .post{
            margin-top: 10px;
            font-size: 21px;
            font-weight: 600;
            margin-left: 20px;
        }
        p{
            margin-top: 8px;
            margin-left: 20px;
        }
        .sales-manager-globino {
            margin-top: 20px;
        }
        
        .sales-manager-ppb {
            margin-top: 20px;
        }
        .sales-manager-ABinbev {
            margin-top: 20px;
        }
        h4{
            font-size: 23px;
            font-weight: 600;
        }

    }
    .education {
        h3{
            
        }
        li{
            margin:  10px 0 10px 20px;
            padding-left: 5px;
            list-style: '✔';
            a{
                text-decoration:underline;
                color: #000;
            }
            &:last-child{
            max-width: 450px;
            }
        }
    }
}